
h1{
    color: black;
    text-align: center;
}
body{
    background: "mine.jpg";
    background-size: 175%;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: black;
    text-align: center;
}
p{
    color: black;
    text-align: center;
    font-size: 100%;
    
    
}